@use 'reset';

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* INDEX start */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
  box-sizing: border-box;
}

body {
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  background-color: #eee;
}

.container {
  max-width: 750px;
  margin: 32px auto;
  padding: 0 16px;
}

h1 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid black;
  line-height: 0.9;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.065em;
}

h2 {
  margin-top: 36px;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #c2c2c2;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.25;
}

h3 {
  margin-top: 24px;
  margin-bottom: 4px;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.25;;
}

h4 {
  margin-bottom: 16px;
  color: #949494;
  font-family: sans-serif;
  font-size: .9em;
}

p {
  margin-bottom: 16px;
  line-height: 1.5em;
}

ul {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 2em;
  list-style-type: disc;
}

ul ul {
  list-style-type: circle;
}

li {
  line-height: 1.5em;
}

li:not(:first-of-type) {
  margin-top: 0.25em;
}

a {
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}

img {
  width: 100%;
  max-width: 520px;
  // max-width: 500px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* INDEX end */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */